.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Existing-prospect-label {
  margin-right: 1em;
  text-decoration: underline;
}

.Modal-body {

  height: fit-content;
}

.Prospect-details {
  border: none;
  padding-top: 5%;
  text-align: left;
}
.Prospect-box {
  display: flex;
    position: relative;
    text-align: center;
    border: 1px solid #000000;
}
.Prospect-label {
  position:absolute;
  padding: 1%;
  text-align: center;
  border:1px solid black;
  margin-left: 2%;
  margin-top: -1em;
  background-color:white;
  
}

.Sidebar-content {
  text-align: left;
  font-size: 1.25em;
  width: 100%;
  color: #ffffff;
}
.Sidebar-content > ul {
  list-style-type: none;
  padding: 5%;
}

.Sidebar-content > ul > li {
  border: 0.01em solid #ffffff;
  padding: 0.5em;
  margin-top: 0.5em;
}

.Alert-custom {
  position: absolute;
  z-index: -2;
}

.Login-form {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.Lead-dashboard-list {
  text-align: left;
  border:1px solid #000000;
  overflow-wrap: break-word;
  
}

.Full-screen {
  text-emphasis: none;
}

.List-container {
  place-self: center;
  border:1px solid #000000;
  height: inherit;
  padding: 1%;
}


.Custom-heading {
  font-size: 6vh;
  color: #272729;
}

.Dashboard {
  height: 100%;
  width: 100vw;
}

.Sidebar {
  width: 10;
  height: 100%;
  border:1px solid #000000;
  background-color: rgb(205, 207, 207);
  
}
.Radio-label{
  width: 90%;
  
}

.Prospect-card-list{
  width: 100%;
  height: 100%; 
  overflow-y: scroll;
}

.Description {
  width: 100%;
  height: 20%;
  margin-bottom: 2em;
  word-wrap: break-word;
  overflow-y: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#border{

  border-style: groove;
  border-color:black;
}
#margin {
  border: 1px solid black; 
  padding: 50px 50px 50px 50px;
}
#margin1 {
  border: 1px solid black; 
  padding: 8px;
}
.top
{
  margin-top: 10px;

}
